# Installation directories
# nginx install dir
NGINX_INST_DIR= /usr/local/openresty/
# System's libraries directory (where binary libraries are installed)
LUA_LIBDIR= $(NGINX_INST_DIR)/luajit/lib/
# Lua includes directory
LUA_INC= $(NGINX_INST_DIR)/luajit/include/luajit-2.1/
# Lua lib installation dir
LUA_INSTDIR= $(NGINX_INST_DIR)/luajit/lib/lua/5.1/
# OpenLDAP includes directory
OPENLDAP_INC= /usr/local/opt/openldap/include
# OpenLDAP library (an optional directory can be specified with -L<dir>)
OPENLDAP_LIB= -L /usr/local/opt/openldap/lib -lldap -llber

# OS dependent
#LIB_OPTION= -shared #for Linux
LIB_OPTION= -bundle -undefined dynamic_lookup #for MacOS X

# Lua version number (first and second digits of target version)
LUA_VERSION_NUM=510
LIBNAME= $T.dylib.$V
COMPAT_DIR= ../compat/src

OPENRESTY_DIR=/Users/arr2036/Desktop/openresty-1.21.4.1
NGINX_BUILD_DIR=$(OPENRESTY_DIR)/build/nginx-1.21.4/

CFLAGS= \
	-I$(OPENLDAP_INC) \
	-I$(COMPAT_DIR) \
	-I$(LUA_INC) \
	-pipe  \
	-O \
	-fPIC \
	-W \
	-Wall \
	-Wpointer-arith \
	-Wno-unused-parameter \
	-g3 \
	-O2 \
	-DNGX_DEBUG \
	-DNGX_LUA_USE_ASSERT \
	-DNGX_LUA_ABORT_AT_PANIC \
	-DNDK_UPSTREAM_LIST \
	-DNDK_SET_VAR \
	-DLUA_DEFAULT_PATH='"$(NGINX_INST_DIR)/site/lualib/?.lua;$(NGINX_INST_DIR)/site/lualib/?/init.lua;$(NGINX_INST_DIR)/lualib/?.lua;$(NGINX_INST_DIR)/lualib/?/init.lua"' \
	-DLUA_DEFAULT_CPATH='"$(NGINX_INST_DIR)/site/lualib/?.so;$(NGINX_INST_DIR)/lualib/?.so"' \
	-I /usr/local/include \
	-I $(NGINX_BUILD_DIR)src/core \
	-I $(NGINX_BUILD_DIR)src/event \
	-I $(NGINX_BUILD_DIR)src/os/unix \
	-I $(NGINX_BUILD_DIR)../ngx_devel_kit-0.3.1/objs \
	-I $(NGINX_BUILD_DIR)../ngx_lua-0.10.21/src/api \
	-I $(NGINX_BUILD_DIR)objs \
	-I $(NGINX_BUILD_DIR)src/http \
	-I $(NGINX_BUILD_DIR)src/http/modules \
	-I $(NGINX_BUILD_DIR)../ngx_devel_kit-0.3.1/src \
	-I $(NGINX_BUILD_DIR)../ngx_lua-0.10.21/src

CC=clang

# $Id: config,v 1.5 2006/07/24 01:42:06 tomas Exp $
